<h1><%= @teddybear.name %></h1>
<p> Description: <%= @teddybear.description %></p>
<p> Colour: <%= @teddybear.colour.name %></p>
<p> Cost: $<%= @teddybear.cost %></p>
<p> Status: <%= @teddybear.status.name %></p>

<p><%= link_to 'Home', root_path %></p>

